@use "~open-color" as *;
@use "/styles/scale.scss";

@mixin app-box {
  padding: scale.rem(0) scale.rem(0);
}

:where(.app) {
  // Layout
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: scale.rem(0);

  min-height: 100vh;
  height: 150vh;

  background-color: $oc-teal-1;
  color: $oc-gray-9;
}

:where(.app > header) {
  @include app-box;

  position: sticky;
  top: 0;
}

:where(.app > main) {
  @include app-box;
}

:where(.app > footer) {
  @include app-box;
}