html,
body {
  padding: 0;
  margin: 0;
  font-family:
    /* MacOS */ -apple-system, BlinkMacSystemFont,
    /* Windows */ "맑은 고딕",
    /* Linux */ undotum,
    /* Fallback */ sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --spacing: 16px;
}
